$red:#ff4537;
$blue: #2d4cff;
$green: #35b80f;
$yellow: #ffff3d;

$colors: ($red, $blue, $green, $yellow);
$num_cubes: 5; 

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(245, 56, 144);
}

.board {
  display: grid;
  background: white;
  height: 300px;
  width: 600px;
  padding: 0.45em;
  box-shadow: 0.25em 0.25em 0.5em 0.01em rgba(0,0,0,0.7);
  
  grid-template: 3fr 1fr / repeat(3, 1fr);
  grid-gap: 0.1em;
  
  & > div {
    background: #EAC22B;
    border: 0.1em solid white;
    position: relative;
    text-align: center;
  }
  
  & > div.hovered {
  border: 0.1em dashed black;
  }
  
  .solution {
    grid-column: 1 / span 2;
  }
  .restriction {
    grid-column: span 3;
  }
  .solution, .goal, .restriction {
  background: #4F0009;
  }
}

.resources {
  position: relative;
  height: 300px;
  width: 250px;
  background: white;
}

.cube {
    height: 30px;
    width: 30px;
    margin: 0.25em;
    border-radius: 0.35em;
    background: #FEF2C9;
  }
.CCube {
  &::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
  }
}
.nCube{
    height: 30px;
    width: 30px;
    margin: 0.25em;
    border-radius: 0.35em;
  
    color: green;
    
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
}

@for $i from 1 through $num_cubes {
    #c#{$i}::before{
    background: nth($colors, random(4));
      }
}
.invisible {
  display: none;
}

div p {
  border-top: solid 0.2em white
}

.universe {
    font-weight: bold;
}

.card-section {
    display: flex;
    position: relative;
    height: auto;
    width: auto;

}
.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 6.5em;
    width: 3.5em;
    margin: 0.25em;
    background: rgb(252, 225, 225);

    &:hover {
        box-shadow: 0.25em 0.25em 0.5em 0.01em rgba(0,0,0,0.7);
    }

    & .c1, .c2, .c3, .c4 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    }

}

.B .c1{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: $blue;
}
.R .c2 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: $red;
}
.G .c3 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: $green;
}
.Y .c4 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: $yellow;
}