html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page {
  width: 100vw;
  height: 100vh;
}


#main-nav {
  display: flex;
  width: 95vw;
  justify-content: flex-end;
  a {
    box-sizing: border-box;
    height: 10px;
    width: 60px;
    margin: 10px;
    color: #4E873B;
    font-family: 'Asap', sans-serif;
    text-decoration: none;
    line-height: 0.45rem;
    &:hover {
      border-bottom: 5px red solid;
    }
  }
}

#media-links {
  display: flex;
  justify-content: center;
  //background-color: green;
  a {
	  text-decoration: none;
    box-sizing: border-box;
    margin: 10px;
	  //border: black dotted;
    //background: red;
  }
}

h2 {
  font-family: 'Questrial', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

.purple {
  color: purple;
}